<html>
    <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <link rel="stylesheet" type="text/css" href="../static/login.css">
    </head>
    <body>
    <div class="container">
        <h2><%= title %></h2>
        <form action="/update" method="post">
         <input type="hidden"  value="<%= user.id %>" name="id">
            <div class="from-group">
                <label>Subject:</label>
                <input type="text" id="FirstName" required placeholder="Enter a Subject" name="Subject" value="<%= user.Subject %>">
            </div>
            <div class="from-group">
                <label>Description:</label>
                <input type="text" id="LastName" required placeholder="Enter a Description" name="Description" value="<%= user.Description %>">
            </div>
            <div class="from-group">
                <label>Severity:</label>
                <input type="number" id="Email"  required min="1" max="5" placeholder="Enter a Severity" name="Severity" value="<%= user.Severity %>">
            </div>
            <button class="btn btn-primary" placeholder="Submit">Submit</button>
        </form>
    </div>
    </body>
</html>