<html>
    <head>
    <title>CRUD Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
       <link rel="stylesheet" type="text/css" href="../static/login.css">
    </head>
    <body>
      <header>
    <ul class="nav justify-content-end">
        <li class="nav-item">
                <a href="/loggout">Logout</a>
        </li>
      </ul>
      </header>
    <div class="container">
    <h2><%= title %></h2>
    <div class="nav">
    <a href="/add"><button type="button" class="btn btn-success">Add New</button></a>
    </div>
    <table> 
        <thead>
        <tr>
        <th>Subject</th>
        <th>Description</th>
        <th>Severity</th>
        </tr>
        </thead>
        <tbody>
        <% user.forEach(function(user){ %>
            <tr>
            <td><%= user.Subject %></td>
            <td><%= user.Description %></td>
            <td><%= user.Severity %></td>
            <td>
             <a href="edit/<%= user.id%>"><button type="button" class="btn btn-warning">Edit</button></a>
             <a href="delete/<%= user.id%>"><button type="button" class="btn btn-danger">Delete</button>
            </td>
            </tr>

      <%  }); %>
        
        </tbody>
    </table>
    </div>
    </body>
</html>